extends ../shared/layout

block content
    .page-content
     
     .page-header
         h1  #{title}
     #search-page-1.row.search-page
      .col-xs-12
       .row
        .col-xs-12
         .row
            form(method='post' action="/resetpassword/search")
             .search-area.well.col-xs-12
                .col-sm-3.col-md-2
                    span.input-icon
                     input#CorporateID.nav-search-input(type='text', autocomplete='off', name='CorpID', placeholder='Corporate ID')
                     i.ace-icon.fa.fa-search.nav-search-icon
                .col-sm-3.col-md-2
                    span.input-icon
                     input#EmployeeID.nav-search-input(type='text', autocomplete='off', name='EmpID', placeholder='Employee ID')
                     i.ace-icon.fa.fa-search.nav-search-icon
                .col-sm-3.col-md-2
                    span.input-icon
                     input#EmployeeName.nav-search-input(type='text', autocomplete='off', name='EmpName', placeholder='Employee Name')
                     i.ace-icon.fa.fa-search.nav-search-icon
                .col-sm-3.col-md-2
                     button.btn.btn-default.btn-round.btn-white(type='submit' value='search')
                      i.ace-icon.fa.fa-refresh.green
                      |Search
          .row
            .col-xs-12
               table(class='table table-striped table-bordered table-hover')
                thead
                 tr
                  th
                   strong Corporate ID
                  th
                   strong Employee Name
                  th
                   strong Employee ID
                  th
                   strong IS Active
                    //th
                    //strong Action
                  th
                   strong Action
                if (typeof(data) != 'undefined')
                 each item in data
                  tr
                   td #{item.EmployerName}  
                   td #{item.EmployeeFullName}                     
                   td #{item.EmployeeIDforexport}
                   td #{item.ISACTIVE}
                   //td #{item.AccountStatus} 
                   td
                       .tools.action-buttons
                           button.red(type='button' id="#{item.EmployeeID}" value='updatepassword' onclick='UpdatePassword("#{item.EmployeeID}","#{item.EmployerID}")')
                            i.ace-icon.fa.fa-refresh.bigger-125
                          
                          
             
       
          script(src='/assets/js/custom/resetpassword.js')
            